.container {
  margin: auto;
  max-width: 1440px;
}

.row {
  left: auto;
  right: auto;
  padding: 1em;
  height: calc(42em);
}

#threeHundredI {
  display: inline-block;
  padding: 1em;
  background: url(http://i.imgur.com/zDdWO4g.jpg);
  background-size: cover;
  background-position: center;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#three15p {
  display: inline-block;
  padding: 1em;
  background: url(http://i.imgur.com/Gw35AJX.jpg);
  background-size: cover;
  background-position: center;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#three25a {
  display: inline-block;
  padding: 1em;
  background: url(http://i.imgur.com/YigEDiE.jpg);
  background-size: cover;
  background-position: center;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#raceShip {
  left: auto;
  right: auto;
}

#three50r {
  background: url(http://i.imgur.com/gYLaaBj.jpg);
  background-size: cover;
  background-position: center;
  color: white;
}

.panel-default {
  height: calc(40em);
  width: calc(26.5em);
}

.panel-body {
  position: absolute;
  bottom: 0;
}

.jumbotron {
  height: calc(32em);
}
