#logoNav {
  position: absolute;
  width: 20%;
  top: -3em;
}

/* slideshow */

.cb-slideshow::after {
  content: '';
  background: transparent url(../project-1/assets/pattern.png) repeat top left;
}

.cb-slideshow li span { /* images */
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  color: transparent;
  background-size: cover;
  background-position: 50% 50%;
  background-repeat: none;
  opacity: 0;
  z-index: -20;
  animation: imageAnimation 36s linear infinite 0s;
  background-attachment: fixed;
}

.cb-slideshow li:nth-child(1) span {
  background-image: url(../Project-1/assets/inspire.jpg);
}

.cb-slideshow li:nth-child(2) span {
  background-image: url(../Project-1/assets/exclusive.jpg);
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) span {
  background-image: url(../Project-1/assets/speed.png);
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) span {
  background-image: url(../Project-1/assets/rare.jpg);
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) span {
  background-image: url(../Project-1/assets/pioneer.jpg);
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) span {
  background-image: url(../Project-1/assets/galactic.jpg);
  animation-delay: 30s;
}

.cb-slideshow li:nth-child(2) div {
  animation-delay: 6s;
}

.cb-slideshow li:nth-child(3) div {
  animation-delay: 12s;
}

.cb-slideshow li:nth-child(4) div {
  animation-delay: 18s;
}

.cb-slideshow li:nth-child(5) div {
  animation-delay: 24s;
}

.cb-slideshow li:nth-child(6) div {
  animation-delay: 30s;
}

.cb-slideshow li div {
  z-index: 1000;
  position: static;
  bottom: 30px;
  left: 0;
  width: 100%;
  text-align: center;
  opacity: 0;
  color: #fff;
  animation: titleAnimation 36s linear infinite 0s;
}

.cb-slideshow li div h3 {
  font-family: 'Josefin Sans', sans-serif;
  /*position: absolute;*/
  bottom: 0.02em;
  font-size: 240px;
  padding: 0;
  line-height: 200px;
  text-shadow: black 1px 1px 1px;
  margin: 0;
}

@keyframes imageAnimation {
  0% {
    opacity: 0;
    animation-timing-function: ease-in;
  }

  8% {
    opacity: 1;
    animation-timing-function: ease-out;
  }
  17% { opacity: 1; }
  25% { opacity: 0; }
  100% { opacity: 0; }
}

@keyframes titleAnimation {
  0% { opacity: 0; }
  8% { opacity: 1; }
  17% { opacity: 1; }
  19% { opacity: 0; }
  100% { opacity: 0; }
}

@media screen and (max-width: 1140px) {
  .cb-slideshow li div h3 { font-size: 140px; }
}

@media screen and (max-width: 600px) {
  .cb-slideshow li div h3 { font-size: 80px; }
}

/* li style */
li {
  list-style: none;
}

/* ------------------=====--------------------------- */

#slideshow-origin {
  position: relative;
  height: 100vh;
  margin-bottom: 1em;
}

#Origin-Info {
  background: url(http://vignette1.wikia.nocookie.net/starcitizen/images/d/d3/350r_engine_visual.jpg/revision/latest?cb=20140805123424);
  background-size: cover;
  background-position: 50%;
  color: white;
  height: 64vh;
  width: 100%;
  margin: 0;
}

.Origin-Name {
  width: 100%;
  padding: 3em;
  margin-bottom: 8em;
}

.Origin-History1 {
  padding-left: 5em;
  padding-right: 5em;
}

.Origin-History2 {
  padding-left: 5em;
  padding-right: 5em;
}

#Hist-Button {
  margin-left: 5em;
  margin-top: 2em;
}

#galactic-tour {
  padding: 1em;
}

#GTvideo {
  width: 100%;
}

#Hist-Button {
  padding: 1em;
}

.well {
  position: absolute;
  display: inline;
  z-index: 10;
  color: black;
  width: 200%;
}

.history-well {
  position: absolute;
  display: inline;
  z-index: 10;
  color: black;
  width: 200%;
}

.GTmodal-title {
  color: black;
}

#views {
  padding: 0;
}

.description {
  margin-top: 13em;
  padding: 2em;
  width: 75%;
}

.container {
  margin: auto;
}

#originPresents {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  margin-top: 0.4em;
  font-size: 60px;
  padding-top: 4em;
  text-shadow: black 1px 1px 1px;
}

#three00series {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 240px;
  text-shadow: black 1px 1px 1px;
}

.ship-list {
  left: auto;
  right: auto;
  padding: 0;
  height: 74em;
  width: 100%;
}

.descriptionBase {
  padding-top: 52em;
  padding-right: 39em;
  padding-left: 2em;
}

.hidden {
  display: none;
}

.featured {
  width: 30%;
}

#threeDAsset {
  position: absolute;
  bottom: 2;
}

.aFrameScene {
  width: 150%;
  height: 150%;
}

#threeHundredI {
  display: inline-block;
  height: 100%;
  background: url(http://i.imgur.com/zDdWO4g.jpg);
  background-size: cover;
  background-position: 10% 50%;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#three15p {
  display: inline-block;
  height: 100%;
  background: url(http://i.imgur.com/Gw35AJX.jpg);
  background-size: cover;
  background-position: 46% 50%;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#three25a {
  display: inline-block;
  height: 100%;
  background: url(http://i.imgur.com/YigEDiE.jpg);
  background-size: cover;
  background-position: 89% 50%;
  left: auto;
  right: auto;
  color: white;
  margin: 0;
}

#three50r {
  background: url(../Project-1/assets/350rCockpit.jpg);
  background-size: cover;
  background-position: 100% 10%;
  color: white;
  height: 74em;
  width: 100%;
  margin: 0;
  margin-top: 1.5em;
}

#raceShip {
  padding: 0;
}

#threeHundredIModal,
#three15pModal,
#three25aModal,
#three50rModal {
  background: rgb(255, 255, 255, 0.9);
  background-size: cover;
}

.panel-body {
  color: white;
  background-color: black;
}

.panel-heading {
  font-size: x-large;
  background-color: black;
}

.modalFlavorTitle {
  padding-left: 1em;
}

.orderButton {
  padding-top: 1em;
  padding-bottom: 1em;
  padding-right: 16em;
  padding-left: 16em;
  margin-left: 2em;
  margin-top: 3em;
  color: black;
}

#perspectives {
  padding: 0;
}

.specs {
  background-color: rgba(48, 66, 81, 1);
}

.modal-footer {
  background-color: #555;
}

.nav-tabs {
  background-color: white;
}

.tab-content img {
  width: 100%;
}

#btn-blue-paint {
  background-image: url(../Project-1/assets/blue-paint.jpg) no-repeat scroll 0 0 transparent;
  width: 11em;
  height: 2em;
}

#btn-silver-paint {
  background-image: url(../Project-1/assets/silver-paint.jpg) no-repeat scroll 0 0 transparent;
  width: 11em;
  height: 2em;
}

#btn-red-paint {
  background-image: url(../Project-1/assets/red-paint.jpg) no-repeat scroll 0 0 transparent;
  width: 11em;
  height: 2em;
}

#btn-int-leather {
  background-image: url(../Project-1/assets/int-leather.jpg) no-repeat scroll 0 0 transparent;
  width: 11em;
  height: 2em;
}

#btn-int-carbon {
  background-image: url(../Project-1/assets/int-carbon.jpg) no-repeat scroll 0 0 transparent;
  width: 11em;
  height: 2em;
}

#specifications {
  display: block;
  padding-left: 10em;
  padding-top: 7em;
  padding-bottom: 4em;
  top: 3em;
  left: 1em;
  border: 1px solid black;
  border-bottom-width: 2em;
}

.formBottomRow {
  background-color: black;
  height: 12em;
  border: 1px solid white;
}

.form-col {
  padding: 2em;
}

#planetChoice {
  color: white;
  margin-left: 2em;
}

#planetBtn {
  margin-top: -2.3em;
  margin-left: 9em;
}

.btTxt {
  width: 9em;
  padding: 0.2em;
}

#requestBtn {
  width: 100%;
  padding: 1em;
  margin-top: 4em;
}

#formRowModel {
  color: white;
  text-align: center;
  padding-top: 1.2em;
}

#after-ships-img {
  position: static;
  color: white;
  background-image: url(../project-1/assets/300series_brochure_20-2.png);
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.Origin-Name-form {
  width: 13em;
  margin-top: 3em;
}

#between-ships-img {
  position: static;
  color: white;
  background-image: url(http://i.imgur.com/5LvQJI2.jpg);
  background-attachment: fixed;
  background-size: cover;
  height: 60vh;
  width: 100%;
  margin-bottom: 1.5em;
}
